:local(.styles) {
  position: relative;

  .app-bar {
    background: $black65;
    z-index: 1;
  }

  .sub-nav {
    position: absolute;
    right: $margin;
  }

  .is-disabled {
    opacity: 0.2;
    pointer-events: none;
  }
}
